:root {
    /* Primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /* Neutral */
    --white-main-heading: hsl(0, 0%, 100%);
    --white-para: hsla(0, 0%, 100%, 0.75);
    --white-stat-heading: hsla(0, 0%, 100%, 0.6);
}

/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    height: 100vh;
    color: white;
    background-color: var(--very-dark-blue);
}

/* main heading */
h1 {
    font-size: 2.5rem;
    color: var(--white-main-heading);
    margin: 0;
    /* margin-bottom: 2rem; */
}

/* stats heading */
h2 {
    color: var(--white-main-heading);
    margin: 0;
}

p {
    line-height: 1.8rem;
    color: var(--white-para);
}

/* MAIN */

#insights {
    color: var(--soft-violet);
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);

    max-width: 1085px;
    max-height: 446px;
    
    border-radius: 10px;
    overflow-y: hidden;
}

.text-box {
    margin: 60px;
}

.text-box p{
    width: 80%;
    margin: 2rem 0;
}

picture {
    width: 100%;
    position: relative;
    margin: 0;
}

picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--soft-violet);
    mix-blend-mode: multiply;
    width: 100%;
    height: 446px;
}

footer {
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: space-between;

    width: 80%;
    margin-top: 80px;
}

.small-boxes p {
    color: var(--white-stat-heading);

    font-size: .8rem;
    text-transform: uppercase;

    line-height: auto;
    margin: 0;
}


.attribution {
    font-size: 11px; 
    text-align: center; 
    padding: 3rem 0;
}

.attribution a {
    color: var(--soft-violet);
    font-weight: bold;
}

/* For Mobiles */

@media screen and (max-width: 1047px){

    html {
        font-size: 14px;
    }

    body {
        padding: 10% 5%;
        display: block;
    }

    h2 {
        font-size: 2.5rem;
    }

    main {
        max-width: 446px;
        margin: 0 auto;
    }

    .box {
        flex-direction: column;
        text-align: center;
        max-height: 100%;
    }

    .text-box {
        order: 2;
        margin: 50px;
        margin-bottom: 10px;
    }

    .text-box p{
        display: inline-block;
        font-size: 1.45rem;
        width: 100%;
        margin: 2rem 0;
        line-height: 2rem;
    }

    .small-boxes p {
        display: inline-block;
        font-size: 1.25rem;
        margin: 1rem 0 3rem;
    }

    .small-boxes:last-child p {
        margin-bottom: 0;
    }

    picture {
        order: 1;
    }

    img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        width: 100%;
        margin: 50px 0;
    }
    
}

/* @media screen and (max-width: 769px){
    html {
        font-size: 12px;
    }
} */

@media screen and (max-width: 481px){
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 320px){
    html {
        font-size: 7px;
    }
}